@import 'variables';

.pageHeader {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 5.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    box-shadow: 0px 1px 4px $shadowColor;
    z-index: 10;
    margin-bottom: 2rem;
    .title {
        font-size: 1.5rem;
        font-weight: 900;
        height: 100%;
        z-index: 2;
        background-color: $backgroundColor;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .logoContainer {
        position: absolute;
        bottom: -25%;
        width: 3.5rem;
        height: 3.5rem;
        div {
            background-color: $backgroundColor;
            border-radius: 1000px;
            box-shadow: 0px 1px 4px $shadowColor;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
        img.logo {
            z-index: 2;
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: 0.75rem; top: 1rem;
            transform: rotate(45deg);
        }
        img.logoText {
            z-index: 2;
            width: 5.6rem;
            position: absolute;
            left: -1rem; top: -0.3rem;
            transform: rotate(-5deg);
        }
    }
    
}